@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
    position: relative;
    min-height: 100%;
}

html,body {
    min-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: white;
}

.footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #b0b0b0;
}

#navbar {
    z-index: 100 !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .container {
    padding-top: 90px;
}

.owl-carousel .item {
    min-height: 200px;
}

.owl-home {
    padding: 10px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.padding_fix {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.margin_fix {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.login_body {
    background-size: cover;
    background-repeat: no-repeat;
}

.login_box {
    background: rgba(70,70,70,0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 35px;
    border-radius: 10px;
    color: #222;
}

.login_header {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.label_login {
    color: white;
    font-weight: 400;
    margin: 0px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-front {
    padding: 0px 15px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #222;
    margin-top: -1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #1a1919;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.dropdown-menu > li > a {
    color: #9d9d9d;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #222;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #222;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #7a7a7a;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #222;
    background: #fff;
}

.sidebar-toggler {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40px;
    right: -40px;
    background: transparent;
    padding: 0px;
    margin-bottom: 0px;
    box-shadow: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #4f4f4f;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #222;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #222;
}

a.article,
a.article:hover {
    background: #222 !important;
    color: #fff !important;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    padding-left: 30px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.users-top {
    min-height: 100px;
    border: 1px solid rgba(34,34,34,1);
    -webkit-box-shadow: 0px 10px 20px -17px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 20px -17px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 20px -17px rgba(0,0,0,0.5);
}

.alert-success {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}

.alert-error {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}

.alert-danger {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}

.users-content {
    border: 1px solid rgba(34,34,34,1);
}

.btn-new {
    color: black;
    background-color: #C9D255;
    border-radius: 0px;
}

.btn-new:hover {
    background-color: #879042;
    color: #DADDE2;
}

.link-new {
    color: #C9D255;
}

.link-new:hover {
    color: #879042;
}

.new_user_div {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;
    border: 1px solid black;
    background: rgb(54,54,54);
    z-index: 1;
    padding: 15px;
}

.new_user_label {
    color: white;
    font-weight: 500;
}

.new-insert {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

.custom-line {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: #222;
}

.note-editable {
    min-height: 240px;
    background: url("line_detail.png");
    background-color: rgba(0, 0, 0, 0);
    line-height: 20px;
    padding: 0;
    margin-top: 20px;
    color: #858585;
}

.flex_display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_descriptions > .note-editor {
    margin-bottom: 0px;
}

.home_list {
    padding-left: 20px;
    list-style: square;
}

.home_list_item {
    color: #C9D255;
}

.home_list_item:hover {
    color: #879042;
    text-decoration: underline;
}

.slide-text {
    padding-top: 15px;
}

.border-right-1 {
    border-right: 1px solid #858585;
}

.m-0-bottom {
    margin-bottom: 0px;
}

.m-5-bottom {
    margin-bottom: 5px;
}

.resume_profile > img {
    padding: 20px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.resume_profile_info > div {
    padding-left: 0px;
}

.resume_profile_info > div > i {
    font-size: 20px;
    width: 30px;
    text-align: center;
    height: 30px;
}

.resume_link {
    color: lightsteelblue;
}

.resume_info {
    margin-top: 20px;
}

.resume_type {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .cms-headings {
        height: auto !important;
    }
    .admin-sidebar {
        overflow-y: scroll;
        top: 0;
        bottom: 0;
        height: 100vh;
        max-height: calc(100vh - 9rem);
    }
    .listing_div {
        margin-bottom: 5px;
        padding: 5px 0px;
    }
    .listing_edit {
        padding-top: 3px;
    }
    .user-edit-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .resume_type > span {
        font-size: 20px !important;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        padding-left: 0px;
        padding-right: 0px;
    }
}